body {
	font-size: 1rem;
	min-width: 500px;
}

h1 {
	font-size: 2rem;
	margin: 0rem 0rem 1rem 0rem;
}

h2 {
	font-size: 1.5rem;
	margin: 1rem 0rem 0.5rem 0rem;
}

html {
	font-size: 75%;
}

input {
	margin: 0rem 0.5rem 0rem 0rem !important;
}

label {
	align-items: center;
	display: flex;
	margin: 0.5rem 0rem 0rem 0rem;
}

label > span {
	flex: 1;
}

li + li {
	margin-top: 0.5rem;
}

p {
	margin: 0rem 0rem 1rem 0rem;
	text-align: justify;
}

section + section {
	margin-top: 2rem;
}

ul {
	margin: 0rem 0rem 1rem 0rem;
}
