doctype 5
html(lang="en")
	head
		meta(charset="utf-8")
		title Session Manager
		link(rel="stylesheet", href="styles/popup.css")
	body
		div.row
			div.span4.btn-toolbar#toolbar
				div.btn-group
					button.btn.dropdown-toggle(data-toggle="dropdown")
						i.icon-folder-open
						| 
						span.caret
					ul.dropdown-menu
						li: a Open in current window
						li: a Replace current window
						li: a Open in new window
						li: a Open in new incognito window
				
				div.btn-group
					button.btn: i.icon-download-alt
					button.btn: i.icon-edit
					button.btn: i.icon-trash
				
				div.btn-group
					button.btn.dropdown-toggle(data-toggle="dropdown")
						i.icon-cog
						| 
						span.caret
					ul.dropdown-menu.pull-right
						li: a Options
						li: a Help
						li: a About
		
		div.row
			div.span4
				ul.unstyled#list
					li
						a Start
						span 7
					li
						a Scalable TD
						span 8
					li
						a Article
						span 14
					li
						a scalabletd2
						span 5
					li
						a fooo
						span 1
					li
						a heroku
						span 7
		
		div.row
			div.span4.box
				input.flex#save-name(type="text", placeholder="Session name")
				
				div.btn-group.dropup
					button.btn Save
					button.btn Temp
		
		script(src="scripts/jquery.js")
		script(src="scripts/bootstrap.js")